@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --accent: #3b82f6;
}

.glow {
  position: fixed;
  width: 55%;
  height: 55%;
  filter: blur(100px);
  opacity: 0.5;
  border-radius: 100%;
  pointer-events: none;
  z-index: 0;
}

.glow-1 {
  top: -25%;
  left: -25%;
  background: rgba(59, 130, 246, 0.5);
}

.glow-2 {
  bottom: -25%;
  right: -25%;
  background: rgba(112, 124, 233, 0.42);
}
